extends ../layout

block content
  .row.justify-content-center.mt-5
    .col-md-6.col-lg-5
      .card.shadow-sm
        .card-body.p-4
          h2.card-title.text-center.mb-4 Acceso al Sistema HIS
          p.text-center.text-muted.mb-4 Inicia sesión con tu cuenta.
          form(action="/auth/login", method="POST")
            .mb-3
              label.form-label(for="email") Correo Electrónico
              input.form-control#email(type="email", name="email", placeholder="tu@correo.com", required)
            .mb-3
              label.form-label(for="password") Contraseña
              input.form-control#password(type="password", name="password", placeholder="Tu contraseña", required)
            .d-grid
              button.btn.btn-primary(type="submit") Ingresar
          .text-center.mt-3
            p ¿No tienes cuenta?
              a(href="/auth/register") Regístrate aquí