extends ../layout

block content
  .row.justify-content-center
    .col-md-7.col-lg-6
      .card.shadow.my-5
        .card-header
          h1.h4.mb-0 Editar Ala: #{ala.nombre}
        form(action="/alas/actualizar/" + ala.id_ala, method="POST")
          .card-body.p-4
            .form-floating
              input.form-control#nombre(type="text", name="nombre", value=ala.nombre, required, placeholder="Nombre del Ala")
              label(for="nombre") Nombre del Ala
          .card-footer.text-end.bg-light
            a.btn.btn-secondary(href="/alas") Cancelar
            button.btn.btn-primary.ms-2(type="submit") Actualizar Ala